div#sponsors_index p {
	overflow:hidden;
}

/* Subscription form */
div.validation-advice {
	display: inline;
	color: red;
	font-size: small;
}
p.validation-error-msg {
	color: red;
}

/* Teams pages */
/* /teams/ */
ul#teams_container li {
	list-style: none;
	float: left;
	margin: 8px;
	text-align: center;
	width: 160px;
}
ul#teams_container li p.team_name {
	font-weight: bold;
	text-align: center;
	margin: 0;
}
ul#teams_container li p.college_name {
	color: #666;
	font-size: 0.7em;
	text-align: center;
	margin: 0 0 2px 0;
	line-height: 1em;
}

/* /teams/* */

div.team-page img#team-img {
        float: right;
	clear: right;
        margin: 0 0 30px 30px;
}

div.team-page p#team-img-date {
	float: right;
	clear: right;
	font-size: 0.8em;
	color: #666;
	position: relative;
	top: -30px;
}

div.team-page p#college-name {
        margin: -10px 0 0 0;
        color: #666;
	font-size: 0.7em;
	line-height: 1em;
}

div.team-page a.link-top, div.team-page a.link-bottom {
	display: inline-block;
	background-color: #666;
	color: #fff;
	font-weight: bold;
	padding: 4px 10px;
}

div.team-page a.link-top {
	margin-bottom: 15px;
	border-radius: 0 0 6px 6px;
}

div.team-page a.link-bottom {
	margin-top: 5px;
	border-radius: 6px 6px 0 0;
}
