div.docs {
	height:auto;
	overflow:auto;
}

div#docsNav {
	width:180px;
	margin-top:20px;
	border-right:1px solid silver;
	float:left;
}

div#docsNav ul {
	list-style:none;
	margin:0;
	padding:0;
}

div#docsNav ul ul {
	margin-left:5px;
	background:url('../images/template/ul-dotted-bg.png') repeat-y;
}

div#docsNav ul li {
	padding:4px 0 4px 8px;
	margin-left:2px;
	line-height:1.1em;
}

div#docsNav ul li a {
	color:#0D1F61;
}

div#docsNav ul li ul li {
	background:url('../images/template/li-dotted-bg.png') no-repeat 0 0.7em;
	font-weight:bolder;
}

div#docsNav ul li ul li ul li {
	font-weight:normal;
}

div.docs div#content {
	float:left;
	width:725px;
	margin-top:20px;
	border-left:1px solid silver;
	margin-left:-1px;
	padding-left:10px;
}

