div.content {
	padding:0;
	border-top:none;
}

div.content p {
	margin-bottom:0;
	font:inherit;
}

div.content div#topBanner {
	background:url('../images/template/banner_bg.png') no-repeat;
	background-position:0px -10px;
	height:200px;
}

div.content div#topBanner img {
	width:374px;
	height:260px;
	overflow:visible;
	float:left;
	position:relative;
	top:-60px;
	left:30px;
}

div.content div#topBanner h1 {
	font-size:30px;
	line-height:40px;
	color:white;
	font-weight:normal;
	width:500px;
	float:right;
	margin-right:50px;
	margin-top:20px;
	clear:none;
}

div.content div#topBanner p {
	color:white;
	width:500px;
	float:right;
	margin-right:30px;
	text-align:left;
}

div.content div#latestNews {
	margin:0 50px 50px 50px;
	padding:50px 0 50px 0;
	border-bottom:1px solid silver;
}

div.content div#latestNews h2 {
	font-size:30px;
	line-height:40px;
	clear:both;
	color:#0d1f61;
}

div.content div#latestNews h2 a {
	color:#0d1f61;
}

div.content div#expMenuAndBoxWrapper {
	overflow:auto;
}

div.content div#expandedMenu {
	float:left;
	width:240px;
	border-right:1px solid silver;
	padding-right:20px;
}

div.content div#expandedMenu h3 {
	border-bottom:1px solid silver;
	margin-bottom:10px;
	font-size:20px;
	line-height:30px;
	color:#0d1f61;
}

div.content div#expandedMenu ul {
	list-style:none;
	margin-left:0;
}

div.content div#expandedMenu ul li a {
	text-decoration:none;
}

div.content div#expandedMenu ul li a:hover {
	border-bottom:none;
}

div.content div#expandedMenu ul li {
	margin-bottom:10px;
	font-size:18px;
}

div.content div#expandedMenu ul li a {
	color:#0d1f61;
}

div.content div#expandedMenu ul li ul {
	margin-left:5px;
}

div.content div#expandedMenu ul li ul li {
	font-size:16px;
}

div.content div#expandedMenu ul li ul li a {
	color:#8b8884;
}

div.content div#boxWrapper {
	float:left;
	margin-left:-1px;
}

div.content div#boxWrapper div.box {
	width:320px;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	line-height:1.4em;
}

div.content div#boxWrapper div.box h3 {
	border-bottom:1px solid silver;
	font-size:20px;
	line-height:30px;
	margin-bottom:10px;
	color:#0d1f61;
}

div.content div#boxWrapper div.box h3 a {
	color:#0d1f61;
}

div.content div#boxWrapper div.box p {
	margin-left: 0;
	text-align:left;
}

div.content div#boxWrapper div.box img {
	border:1px solid silver;
	padding:2px;
	float:right;
	margin-left:10px;
}
