/* Thanks to http://meyerweb.com/eric/tools/css/reset/ for the reset styling */

/* v1.0 | 20080212 */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END OF RESET */



body {
	font: 16px/20px Helvetica,Arial,sans-serif;
	background:#F5F3F4;
}

acronym {
	border-bottom:1px dotted silver;
}

.clearboth {
	clear:both;
}

div#pageWrapper {
	width:960px;
	margin:0 auto;
	background:url('../images/template/bottom_swirl.png') no-repeat bottom right;
}


div#header {
	width:960px;
}

div#header > a {
	float:left;
	margin-top:20px;
	margin-left:20px;
}

div#header > form {
	float:right;
	margin-top:30px;
}

div#header > form > fieldset > input {
	border:1px solid silver;
}

div#header > form > fieldset > input[type=text]{
	font-size:16px;
	line-height:16px;
}

div#header > form > fieldset > input[type=submit]{
	/* Thanks to http://www.famfamfam.com/lab/icons/silk/ for the image */
	background-image:url('../images/template/magnifier.png');
	background-repeat:no-repeat;
	background-position:center;
	height:24px;
	width:24px;
	position:relative;
	top:-1px;
}

div#header > ul {
	clear:both;
	float:right;
	margin-bottom:10px;
}

div#header > ul > li {
	float:left;
	margin-left:10px;
}

div#header > ul > li > a {
	text-decoration:none;
	color:#8b8884;
	padding:8px;
	letter-spacing:1px;
}

div.content{
	clear:both;
	border-bottom:1px solid silver;
	border-top:1px solid silver;
	padding-bottom:20px;
	height:auto;
	overflow:visible;
}

div.content h1, h2, h3, h4, h5, h6 {
	color:#0d1f61;
	line-height:1.3em;
}

div.content > h1 {
	font-size:26px;
	margin-bottom:10px;
	padding-top:10px;
}

div.content h2 {
	font-size:20px;
	margin-bottom:5px;
	margin-top:25px;
}

div.content h1 a {
	color:inherit;
}

div.content h2 a {
	color:inherit;
}

div.content h3 a {
	color:inherit;
}

div.content h4 a {
	color:inherit;
}

div.content h5 a {
	color:inherit;
}

div.content h6 a {
	color:inherit;
}

div.content h3 {
	font-size:18px;
	margin-bottom:5px;
	margin-top:15px;
}

div.content p {
	margin-bottom:10px;
	margin-left: 20px;
	text-align:justify;
	font: 16px/1.6 Helvetica,Arial,sans-serif;
	word-spacing:0.1em;
}


div.content a {
	text-decoration:none;
	color:#DE6400;
}

div.content a:hover {
	color:#0d1f61;
}

div.content > p > img {
	border:1px solid silver;
	padding:3px;
	margin-bottom:10px;
}

div.content > p > img.left {
	float:left;
	margin-right:20px;
}

div.content > p > img.right {
	float:right;
	margin-left:20px;
}

div.content > p > video {
	border:1px solid silver;
	padding:3px;
	margin-bottom:10px;
}

div.content > p > video.left {
	float:left;
	margin-right:20px;
}

div.content > p > video.right {
	float:right;
	margin-left:20px;
}

div.content ul {
	list-style:disc;
	margin-left:30px;
	margin-bottom:10px;
}

div.content ul ul {
	list-style:circle;
}

div.content ul li {
	line-height:1.5em;
}

div#original {
	float:right;
	height:auto;
	padding:2px;
	padding-right:0px;
	margin-top:1px;
	font-size:12px;
	color:gray;
}

div#original a {
	text-decoration:none;
	color:inherit;
	font-weight:bolder;
}


div#footer {
	clear:both;
	width:940px;
	margin-top:40px;
	padding:10px;
	position:relative;
	background-color:rgba(223,220,215,0.5);
	color:#333;
}

div#footer > span.rss {
	position:absolute;
	right:10px;
}

div#footer > span.copyright {
	display:block;
	margin:0 auto;
	width:200px;
	text-align:center;
	text-shadow:1px 1px 1px #fff;
}
