/* Thanks to http://meyerweb.com/eric/tools/css/reset/ for the reset styling */

/* v1.0 | 20080212 */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END OF RESET */



body {
	font: 16px/20px Helvetica,Arial,sans-serif;
	background:#F5F3F4;
}

abbr {
	border-bottom:1px dotted silver;
}

dt {
	font-weight: bold;
	line-height: 1.5em;
	margin-top: 10px;
}
dd {
	margin: 5px 0 10px 20px;
	border-left: 1px solid silver;
	border-bottom: 1px dotted silver;
	padding: 5px;
}

sup {
	font-size: smaller;
	line-height: normal;
	vertical-align: super;
	padding-left: 2px;
}

sup>a:before {
	content: "[";
}
sup>a:after {
	content: "]";
}

table {
	margin: 0 auto 15px;
}

th, td {
	border-color: #DE6400;
}

th {
	border-style: none none solid none;
	border-width: 2px;
}

td {
	border-right: 1px solid silver;
	border-style: solid solid none none;
	border-width: 1px;
	padding: 2px 10px;
}

td:last-child {
	border-right: none;
}

input, textarea {
	border: 1px solid silver;
	background-color: white;
	padding: 2px;
	margin: 5px;
}

label {
	display: block;
	margin-bottom: 5px;
	margin-top: 10px;
}

input[type="submit"] {
	display: block;
}

.clearboth {
	clear:both;
}

div#pageWrapper {
	width:960px;
	margin:0 auto;
	background:url('../images/template/bottom_swirl.png') no-repeat bottom right;
}


div#header {
	float:right;
	width:960px;
}

div#header a {
	float:left;
	margin-top:20px;
	margin-left:20px;
}

div#header form {
	float:right;
	margin-top:30px;
}

div#header form fieldset input {
	border:1px solid silver;
}

div#header form fieldset input[type=text]{
	font-size:16px;
	height:22px;
	position:relative;
	top:-1px;
	padding: 0;
	margin: 0;
}

div#header form fieldset input[type=image]{
	height:16px;
	width: 16px;
	position:relative;
	padding: 3px;
	margin: 0;
	top: 6px;
}

div.ie6-prop-clear {
	clear: both;
}

div#header div.ie6-wrapper {
	float: right;
}

div#header ul {
	clear:both;
	display: block;
	margin-top:-8px;
}

div#header ul li {
	float:left;
	margin-left:10px;
}

div#header ul li a {
	text-decoration:none;
	color:#8b8884;
	padding:8px;
	letter-spacing:1px;
	margin-top:0px;
	margin-left:0px;
	display:block;
}

div.content{
	clear:both;
	border-top:1px solid silver;
	padding:0 20px;
}

div.content h1, h2, h3, h4, h5, h6 {
	color:#0d1f61;
	line-height:1.3em;
}

div.content h1 {
	font-size:26px;
	margin-bottom:10px;
	padding-top:10px;
}

div.content h2 {
	font-size:20px;
	margin-bottom:5px;
	margin-top:25px;
}

div.content h1 a {
	color:inherit;
}

div.content h2 a {
	color:inherit;
}

div.content h3 a {
	color:inherit;
}

div.content h4 a {
	color:inherit;
}

div.content h5 a {
	color:inherit;
}

div.content h6 a {
	color:inherit;
}

div.content h3 {
	font-size:18px;
	margin-bottom:5px;
	margin-top:15px;
	font-weight: normal;
}

div.content p {
	margin-bottom:15px;
	margin-left: 20px;
	text-align:justify;
	font: 16px/1.6 Helvetica,Arial,sans-serif;
	word-spacing:0.1em;
}


div.content a {
	text-decoration:none;
	color:#DE6400;
}

div.content a:hover {
	color:#0d1f61;
}

div.content p img {
	border:1px solid silver;
	padding:3px;
	margin-bottom:10px;
}

div.content p img.left {
	float:left;
	margin-right:20px;
}

div.content p img.right {
	float:right;
	margin-left:20px;
}

div.content p video {
	border:1px solid silver;
	padding:3px;
	margin-bottom:10px;
}

div.content p video.left {
	float:left;
	margin-right:20px;
}

div.content p video.right {
	float:right;
	margin-left:20px;
}

div.content ul {
	list-style:disc;
	margin-left:30px;
	margin-bottom:10px;
}

div.content ul ul {
	list-style:circle;
}

div.content li {
	line-height:1.5em;
}

div.content div.left_img_attribution p {
	font-size:10px;
	color:silver;
	clear:both;
	float:left;
	padding-right:20px;
	padding-bottom:10px;
}

div#original {
	height:auto;
	padding:2px;
	padding-right:0px;
	font-size:12px;
	color:gray;
	text-align:right;
	border-top:1px solid silver;
	clear:both;
}

div#original a {
	text-decoration:none;
	color:inherit;
	font-weight:bolder;
}


div#footer {
	clear:both;
	width:940px;
	margin-top:20px;
	padding:10px;
	position:relative;
	background-color:rgba(223,220,215,0.5);
	color:#333;
}

div#footer span.rss {
	position:absolute;
	right:10px;
}

div#footer span.copyright {
	display:block;
	text-align:center;
	text-shadow:1px 1px 1px #fff;
}
