div#pageWrapper, div#footer {
	width: auto;
}

div#header form, div#header ul {
	display: none;
}

div#header a {
	float: none;
	margin-top: 0;
}

div#footer span.rss {
	display: none;
}

a:link:after, a:visited:after {
	content:" [" attr(href) "] ";
}
div#header a:link:after, div#header a:visited:after,
div.content h2 a:link:after, div.content h2 a:visited:after {
	content: none;
}

div.content {
	margin-top: 10px;
}

div.content h1 {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin-left: 440px;
	font-size: 38px;
	text-align: right;
}

div.docs {
	overflow: visible;
}

div#docsNav {
	display: none;
}
div.docs div#content {
	float: none;
	border: none;
	width: auto;
	margin-left: 0;
}
