[submodule "classes/phorms"]
	path = classes/phorms
	url = https://github.com/jordanlev/phorms.git
[submodule "community-guidelines"]
	path = community-guidelines
	url = ../community-guidelines
[submodule "classes/pipebot"]
	path = classes/pipebot
	url = git://srobo.org/pipebot.git
