RewriteEngine On
RewriteBase /~chris/srweb

RewriteCond %{REQUEST_FILENAME}	!-f
RewriteCond %{REQUEST_URI} 	!^(/community-guidelines(.*))$
RewriteCond %{REQUEST_URI} 	!^(/trac(.*))$
RewriteCond %{REQUEST_URI} 	!^(/piwik(.*))$
RewriteCond %{REQUEST_URI} 	!^(/ide(.*))$
RewriteCond %{REQUEST_URI} 	!^(/password(.*))$
RewriteCond %{REQUEST_URI} 	!^(/robogit(.*))$
RewriteCond %{REQUEST_URI} 	!^(/tickets(.*))$
RewriteCond %{REQUEST_URI} 	!^(/comp(.*))$
RewriteCond %{REQUEST_URI}  !^(/forgotpassword(.*))$

# These rules are useful outside of optimus so must work when
# the actual URI might have other stuff in front of it, i.e.
# like when it's in a public_html
RewriteCond %{REQUEST_URI}	!(resources/2012/markers(.*))$


RewriteRule ^(.+)$ 	index.php?page=$1	[L,QSA]
Redirect /comp https://www.studentrobotics.org/events/sr2012/2012-04-14-competition
