
div#pageWrapper {
	width:964px;
	margin:0 auto;
}

div#header {
	width:960px;
	background:#3e6eFF;
}

div#navigation {
	width:160px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
}

div#navigation ul {
	margin:0; 
	padding:0;
	list-style:none;
}

div#navigation ul li a {
	text-decoration:none;
}

div#navigation ul > li > ul li {
	padding-left:10px;
	height:0;
	overflow:hidden;
}


div#navigation > ul > li > ul > li {
	height:auto;
	overflow:auto;
}

div#navigation > ul > li > ul > li > ul > li {
	height:auto;
	overflow:auto;
}

div#navigation > ul > li > ul > li > ul > li > ul > li {
	height:auto;
	overflow:auto;
}

div#navigation > ul > li > ul > li > ul > li > ul > li > ul > li {
	height:auto;
	overflow:auto;
}

div#content {
	width:790px;
	float:left;
	padding-left:10px;
}

div#original {
	float:right;
	margin-top:10px;
	margin-bottom:10px;
	font-size:0.8em;
	color:grey;
	font-variant:small-caps;
}

div#original a {
	text-decoration:none;
	color:grey;
	font-variant:normal;
	font-style:italic;
}

div#footer {
	clear:both;
	width:960px;
	background:#3e6eFF;
}
